body {
    background: #222224;
    color: white;
    margin: auto;
    width: 50em;
    font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

select {
    margin-left: 1em;
    padding: 4px;
}

td {
    text-align: right;
}

.referral_tool {
    margin: 20px;
}

.loss_type_dropdown {
    margin-top: 1em;
    margin-bottom: 1em;
}

.submit_button {
    margin-top: 0.7em;
    padding: 3px 18px 3px 18px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(36, 204, 39);
    color: black;
}

.submit_button:hover {
    color: white;
    background-color: rgb(3, 76, 5)
}

.right {
    color: #FCC;
}

.left {
    color: #CCF;
}

.db_input:not([type=checkbox],[type=radio],[type=range]) {
    height: 3ex;
    width: 8em;
    margin: 3px;
}

input.left {
    color: #009;
}

input.right {
    color: #900;
}

.output {
    font-size: larger;
    background: #EEF;
    color: black;
    border-radius: 10px;
    margin-top: 1.5em;
}

#output {
    padding: 1em;
}

footer {
    margin-top: 1em;
}

.hidden {
    visibility: hidden;
}

.container {
    max-width: 1200;
}

.reason {
    display: none;
}

/* Collapsible button styling taken from here https://www.w3schools.com/howto/howto_js_collapsible.asp

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    padding: 0 10px 0 10px;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
    width: inherit;
  }
