.referral_tool {
    margin: 20px;
}

.loss_type_dropdown {
    background-color: none;
    width: 30%;
}

.input_table > table {
    width: 50%;
}

.submit_button {
    background-color: none;
    width: 30%;
}

.submit_button > button {
    background-color: rgb(36, 204, 39);
}

.submit_button > button:hover {
    background-color: rgb(3, 76, 5)
}

.db_input:not([type=checkbox],[type=radio],[type=range]) {
    height: 10px;
    width: 100px;
}

.container {
    max-width: 1200;
}