body {
    background: #222224;
    color: white;
    margin: auto;
    width: fit-content;
}

select {
    margin-left: 1em;
    padding: 4px;
}

td {
    text-align: right;
}

.referral_tool {
    margin: 20px;
}

.loss_type_dropdown {
    margin-top: 1em;
    margin-bottom: 1em;
}

.submit_button {
    margin-top: 0.7em;
    padding: 3px 18px 3px 18px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(36, 204, 39);
    color: black;
}

.submit_button:hover {
    color: white;
    background-color: rgb(3, 76, 5)
}

.right {
    color: #FCC;
}

.left {
    color: #CCF;
}

.db_input:not([type=checkbox],[type=radio],[type=range]) {
    height: 3ex;
    width: 8em;
    margin: 3px;
}

input.left {
    color: #009;
}

input.right {
    color: #900;
}

.output {
    font-size: larger;
    background: #EEF;
    color: black;
    border-radius: 10px;
}

#output {
    padding: 1em;
}

.hidden {
    visibility: hidden;
}
